<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text'ng-model='user.username' name='username' ng-minlength="3" ng-maxlength="8" ng-class="{ 'error': signinForm.username.$invalid }">
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <div class="message" ng-show="signinForm.username.$invalid">Not valid username.</div>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
